:root {
  --color-bg-first: #0f0;
  --color-bg-second: #ff0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .card {
  position: relative;
  width: 320px;
  height: 400px;
  background-color: rgba(45 45 45 / 1);
  border-radius: 20px;
  overflow: hidden;
}
.container .card::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: 0.3s, top 0s, left 0s;
}
.container .card:nth-child(1):before {
  background: radial-gradient(var(--color-bg-first), transparent, transparent);
}
.container .card:nth-child(2):before {
  background: radial-gradient(var(--color-bg-second), transparent, transparent);
}
.container .card:hover::before {
  opacity: 1;
}
.container .card::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background-color: rgba(45 45 45 / 0.75);
}
